@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.container

{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1c00c;
    border: 5px solid black;
    border-radius: 10px;
    align-items: center;
    margin-top: 20vh;
    margin-left: 10%;
    margin-right: 10%;
}

.heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sono', monospace;
    font-family: 'Young Serif', serif;
    font-size: 18px;
}

.user-input
{
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}
.text-data
{
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    background-color: #f1c00c;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Sono', monospace;
    font-family: 'Young Serif', serif;
    font-size: 30px;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 10px;

    
    
}